.body{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  width:100%;
}
.name{
  font-size: 20px;
  text-align: center;
}
.create{
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
}
input{
  width: 99%;
  height: 20px;
}
.input{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
textarea{
  width: 99%;
}
.photos{
  display: flex;
  justify-content: space-between;
}

.photosBody{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo{
  height: 100px;
  width: 100px;
  background-color: rgb(151, 202, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(128, 128, 128);
  cursor: pointer;
}

.is_active{
  width: 200px;
  display: flex;
  flex-direction: column;
}
.text{
  flex-wrap: nowrap;
}

.checkbox{
  display: flex;
  width: 50px;
}

.buttonAdd{
  width: 100%;
  display: flex;
  right: 0;
  justify-content: center;
  height: 25px;
  border-radius: 3px;
  background-color: rgb(151, 202, 233);
  border-bottom: 1px solid rgb(111, 111, 111);
}