.body{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  width:100%;
}
.name{
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.create{
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
}

.buttonAdd{
  width: 100%;
  display: flex;
  cursor: pointer;
  margin-bottom: 100px;
  right: 0;
  justify-content: center;
  height: 25px;
  border-radius: 3px;
  background-color: rgb(151, 202, 233);
  border-bottom: 1px solid rgb(111, 111, 111);
}
