 .picture {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
 }
 .picture img {
  transition: 1s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
 }
 .picture img:hover {
  transform: scale(1.17); /* Увеличиваем масштаб */
 }

 .description{
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .cartFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 14px/24px Liberation,Arial,sans-serif;
  letter-spacing: .4px;
 }
 .name{
  width: 400px;
  white-space: nowrap; /* Текст не переносится */
  overflow: hidden; /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis; /* Добавляем многоточие */
  text-align: center;
  cursor: pointer;
 }

.a{
  text-decoration: none;
  color: black;
}
 .name:hover{
  color: rgb(207, 39, 39);
 }

 .topName{
  color: rgb(220, 44, 44);
  letter-spacing: 1.2px;
 }

.price{
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 2px;
}

.button{
  border: none; 
  background-color: transparent;
  text-decoration: none;
}

.button:hover{
  font-size: larger;
  color: rgb(207, 39, 39);
  cursor: pointer;
}

.picture1{
  display: block;
}
.pictureForMobile{
  display: none;
}
.pictureForMiniMobile{
  display: none;
}
.pictureLaptop{
  display: none;
}

/* Large desktops and laptops */
@media (min-width: 1400px) and (max-width: 1800px)  {
  
  
}

@media (min-width: 1200px) and (max-width: 1399px)  {
  .picture1{
    display: none;
  }
  .pictureForMobile{
    display: none;
  }
  .pictureForMiniMobile{
    display: none;
  }
  .pictureLaptop{
    display: block;
  }
  
  .name{
    width: 340px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .picture1{
    display: none;
  }
  .pictureForMobile{
    display: block;
  }
  .pictureForMiniMobile{
    display: none;
  }
  .name{
    width: 300px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .picture1{
    display: none;
  }
  .pictureForMobile{
    display: block;
  }
  .pictureForMiniMobile{
    display: none;
  }
  .name{
    width: 300px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .picture1{
    display: none;
  }
  .pictureForMobile{
    display: block;
  }
  .pictureForMiniMobile{
    display: none;
  }
  .name{
    width: 300px;
  }
}

@media (max-width: 480px) {
}
/* Landscape phones and smaller */
@media (max-width: 360px) {
  .picture1{
    display: none;
  }
  .pictureForMobile{
    display: block;
    width: 280px;
  }
  .pictureForMiniMobile{
    display: none;
  }
  .name{
    width: 150px;
  }
}

@media (max-width: 300px) {
  .picture1{
    display: none;
  }
  .pictureForMobile{
    display: none;
  }
  .pictureForMiniMobile{
    display: block;
  }
  .name{
    width: 150px;
  }
}
