.auth{
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 3px;
}

.auth-main{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  color:rgb(68, 41, 41);
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.auth-item{
  height: 30px;
  border-radius: 2px;
  border-color:  rgba(68, 41, 41, 0.515);
}

.auth-button{
  background-color: rgb(68, 41, 41);
  color: white;
  height: 35px;
  cursor: pointer;
}

.auth-button:disabled {
 opacity: 0.5;
}

@keyframes fieldValidationError {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
