.main{
  background-color: rgb(246, 235, 235);
  height: 200vh;
  width: 100%;
  padding-top: 30px;
  position: relative;
}

.mainHeader{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.mainHeader2{
  margin-top: 40px;
  margin-bottom: -35px;
}
.headerArrow{
  font-size: 20px;
  color:rgb(26, 26, 26)
}
.headerName{
  font-size: 30px;
  font-weight: 400;
}

.catalog2{
  width: 100%;
  justify-content: center;
}
.carouselItem{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 100%;
}
.carousel{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

.catalog{
  display: flex;
  justify-content: center;
}

.items{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.mainHeader:hover{
  cursor: pointer;
  color: rgb(207, 39, 39);
  
}
.headerName:hover{
  font-weight: 500;
}

.headerArrow:hover{
  color: rgb(207, 39, 39);
}

.benefits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.benefitsBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 50px;
}
.benefitsPicture{
  background-position:center center;
  background-size:cover;
  width:100%;
  height:500px;
  background-image: url("../../assets/img/body2.jpg");
}

.benefitsItemPicture{
  background-position:center center;
  background-size:cover;
  width:50px;
  height:50px;
}
.benefitsItemPicture:hover{
  width:60px;
  height:60px;
}
.benefitsItemPictureReturn{
  background-image: url("../../assets/img/return.png");
}
.benefitsItemPictureMaterial{
  background-image: url("../../assets/img/garantee.png");
}
.benefitsItemPictureIcon{
  background-image: url("../../assets/img/icon.png");
}
.benefitsTitle{
  font-size: 30px;
  letter-spacing: 5px;
}
.benefitsItems{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 40%;
}

.benefitsItem{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  white-space: nowrap; 
  font: 14px/24px Liberation,Arial,sans-serif;
  letter-spacing: .4px;
  color: rgb(87, 87, 87);
}

.benefitsItem:hover{
  font-size: 14px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.benefitsItemTitle{
  text-align: center;
}

@media (max-width: 1000px) {
  .benefitsItems{
    gap:10%;
  }
  .benefitsItem{
    white-space: normal; 
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}