.header {
  background-color: rgb(68, 41, 41);
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: cover;
  width: 100%;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.items {
  gap: 20%;
  display: flex;
  justify-content: space-around;
}

.item {
  color: #fefefe;
  font-size: 22px;
  text-decoration: none;
  font-weight: 300;
  white-space: nowrap;
  width: 110px;
  letter-spacing: 1.5px;
}

.item:hover {
  color: #e19189;
  font-weight: 350;
  cursor: pointer;
}

.downOutlined {
  height: 3%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  animation: top-down 1s infinite reverse cubic-bezier(0.1, 0, 1, 1);
  -webkit-animation-timing-function: linear, ease-in;
          animation-timing-function: linear, ease-in;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
.a{
  transition: all ease-in-out .7s;
}

@-webkit-keyframes top-down {
  0% {
    -webkit-box-align: start;
            align-items: flex-start;
  }
  50% {
    -webkit-box-align: end;
            align-items: flex-end;
  }
  100% {
    -webkit-box-align: start;
            align-items: flex-start;
  }
}

@keyframes top-down {
  0% {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  50% {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  100% {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}


/* tablet */
@media (min-width: 1024px) and (max-width: 1240px)  {}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (max-width: 1024px) {
  .header-main{
    align-content: center;
    justify-content: center;
  }
}
/* mobile */
@media (max-width: 768px) {
  .item{
    
  }
  .items {
    text-align: center;
   
  }
  .items2{
    display: initial;
    display: none;
  }
  .main{
    
  }
  .contacts{
    
  }
  .katalog{

  }
  .about-us{

  }
}

@media (max-width: 750px) {
  
  .item{
    width: 60px;
  }
  .part-icons{
    display: flex;
  }
}