.header {
  background-image: url("../../assets/img/back2.PNG");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  width: 100%;
  position: relative;

  box-shadow: 0 0 3px rgba(76, 76, 76, 0.5);
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
}

.header-main {
  display: flex;
  justify-content: space-around;
}

.header-items {
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
  height: 200px;
}

.items {
  margin-top: 40px;
  position: absolute;
  gap: 20%;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item {
  color: #fefefe;
  font-size: 30px;
  font-weight: 300;
  white-space: nowrap;
  width: 110px;
  letter-spacing: 1.5px;
}

.item:hover {
  color: #e19189;
  font-weight: 350;
  cursor: pointer;
}

.downOutlined {
  height: 3%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  animation: top-down 1s infinite reverse cubic-bezier(0.1, 0, 1, 1);
  -webkit-animation-timing-function: linear, ease-in;
          animation-timing-function: linear, ease-in;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
.a{
  transition: all ease-in-out .7s;
}

@-webkit-keyframes top-down {
  0% {
    -webkit-box-align: start;
            align-items: flex-start;
  }
  50% {
    -webkit-box-align: end;
            align-items: flex-end;
  }
  100% {
    -webkit-box-align: start;
            align-items: flex-start;
  }
}

@keyframes top-down {
  0% {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  50% {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  100% {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}


/* tablet */
@media (min-width: 1024px) and (max-width: 1240px)  {}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (max-width: 1024px) {
  .header-main{
    align-content: center;
    justify-content: center;
  }
}
/* mobile */
@media (max-width: 768px) {
  .item{
    
  }
  .items {
    text-align: center;
   
  }
  .items2{
    display: initial;
    display: none;
  }
  .main{
    
  }
  .contacts{
    
  }
  .katalog{

  }
  .about-us{

  }
}

@media (max-width: 750px) {
  .items{
    flex-wrap: wrap;
  }
  .item{
    width: 100%;
  }
}