.show--item{
  border-bottom: 2px solid rgba(0, 0, 0, 0.295);
  position: relative;
}

.change--delete{
  position: absolute;
  display: flex;
  right: 0;
  font-size: 25px;
  gap: 10px;
  font-weight: 700;
  z-index: 3;
  cursor: pointer;
  margin-top: 5px;
  /* outline: none; */
}
.change{
  color:rgb(99, 99, 99);
  background-color: rgba(215, 215, 215, 0.673);
  border-radius: 5px;
}

.delete{
  color: rgb(159, 39, 39);
  background-color: rgba(215, 215, 215, 0.632);
  border-radius: 5px;
}

.react-confirm-alert-button-group{
  justify-content: center !important;
}

@media (max-width: 400px){
  .change--delete{
    margin-right: 40px;
  }
}