.main-container{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: relative;
}

.window{
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.all-pages-container{
  height: 100%;
 display: flex;

 transition: translate;
 transition-property: transform;
 /*transition-duration: 300ms;*/
 transition-timing-function: ease-in-out;
}

.arrow{
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  height: 100px;
  color: rgb(129, 129, 129);
  width: 20px;
}

.arrow1{
  cursor: pointer;
  position: absolute;
  right: 0px;
  background-color: transparent;
  height: 100px;
  color: rgb(129, 129, 129);
  width: 20px;
}

@media (max-width: 500px) {
  .arrow1{
    width: 15px;
    height: 60px;
  }
  .arrow{
    width: 15px;
    height: 60px;
  }
}