.desktop{
  display: block;
}

.mobile{
  display: none;
}
.active{
  color: rgb(195, 171, 171) !important;
  
} 

@media (max-width: 750px){
  .desktop{
    display: none;
  }
  
  .mobile{
    display: block;
  }
  .part-icons{
    display: flex;
    
  }
  .header-main{
    display: flex;
  }
}