.HeaderCarousel{
  position: relative;
  animation-name: Appearance;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}

button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.item1{
  background-image: url("../../assets/img/incantoWithLogo.jpg");
}
.item{
  height: 500px;
  background-position:center center;
  background-size: 100%;
  width:100%;
}
.transparentItem{
  color: transparent;
}
.item2{
  background-image: url("../../assets/img/incantoWithLogo2.jpg");
}

@media (max-width: 1000px) {
  
}

/* Large desktops and laptops */
@media (min-width: 1400px) and (max-width: 1800px)  {
  .item{
    height: 450px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 1100px) and (max-width: 1399px) {
  .item{
    height: 350px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 790px) and (max-width: 1099px) {
  .item{
    height: 250px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 789px) {
  .item{
    height: 150px;
  }
}

.headerForMobile{
  display: none;
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  .item{
    height: 100vh;
    background-size: cover;
  }

  .headerForMobile{
    display: block;
    height: 90vh;
    background-image: url("../../../public/backgroundForHeaderMobileWithLogo.jpg");
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .HeaderMonitor{
    display: none;
  }

  .downArow{
    width: 50px;
    height: 50px;
    background-color: rgb(68, 41, 41, 0.5);
    border-radius: 50%;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all ease-in-out .5s;
    animation: top-down 1.5s infinite reverse cubic-bezier(0.1, 0, 1, 1);
  }

  @keyframes top-down {
    0% {
      margin-bottom: 3px;
    }
    25% {
      margin-bottom: 8px;
    }
    50% {
      margin-bottom: 10px;
    }
    75% {
      margin-bottom: 15px;
    }
    100% {
      margin-bottom: 20px;
    }
  }
  
}
