.HeaderCarousel{
  position: relative;
}

.item1{
  background-image: url("../../assets/img/incanto.jpg");
}
.item{
  height: 500px;
  background-position:center center;
  background-size: 100%;
  width:100%;
}
.item2{
  background-image: url("../../assets/img/incanto2.jpg");
}

.item3{
  background-image: url("../../assets/img/incanto3.jpg");
}

@media (max-width: 1000px) {
  
}

/* Large desktops and laptops */
@media (min-width: 1400px) and (max-width: 1800px)  {
  .item{
    height: 450px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 1100px) and (max-width: 1399px) {
  .item{
    height: 350px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 790px) and (max-width: 1099px) {
  .item{
    height: 250px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 789px) {
  .item{
    height: 150px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .item{
    height: 90px;
  }
}
